<h1>Tons Of Data</h1>

<h3>Search for existing data on a summoner or add a new one</h3>

<div class=forms>
<form method="GET" action="">
	Summoner Name: <input type="text" name="summoner" value="">
	<input type="submit" value="Search Summoner!">
</form>

{{error}}
<form method="POST" action="newSumm">
	Add A Summoner: <input type="text" name="newsummoner" value="">
	<input type="submit" value="Add Summoner!"
</form>
</div>