<hr>
</br>
{{#each overall}}
Overall {{@key}}:
is {{this.number}}</br>
{{/each}}
</br>
<hr>

<h4>Select a summoner whose ranked stats to show</h4>
<form method="GET" action="">
	Summoner Name<input type="text" name="summonerID" value="">
	<input type="submit" name="Search">
</form>