body {
  color: #C6D4FF;
  font-family: Georgia;
  background-color: #81858c;
  font-weight: bold;
  text-align: center;
}


h1 {
	font-size: 300%;
	font-family: serif;
	color: #307473;
	text-align: center;
}

h2 {
	font-family: Georgia;
	font-size: 180%;
	text-align: center;
}

h3 {
	font-family: Georgia;
  color: #C6D4FF;
}

form {
	text-align: center;
}

a:link{
	text-decoration: none;
}

.user {
	font-size: 60%;
	margin:0px;
	padding:0px;
	line-height: 1px;
	opacity:.5;
}

.user2{
	font-size: 85%;
	padding:3px;
	margin:3px;
}

#full {
  width:100%;
  margin-top: 0px;
  margin-left: 0px;
  position: fixed; top:0; left:0
}

#toC {
  width: 25%;
}

.navbar {
	list-style-type: none;
  text-align: center;
  width: 50%;
  margin: auto;
}

.navbar ul {
  list-style: none;
  background-color: #595959;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navbar li {
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
 
.navbar a {
  color: #C6D4FF;
  display: block;
}
 
.navbar a:hover {
  background-color: #12664F;
}
 
.navbar a.active {
  background-color: #595959;
  color: #12664F;
}

.best {
	font-size: 60%;
	color:#680E4B;
}

.forms{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#content {
  padding-top: 40px;
}